# Hello Everyone! This is my Notebook

# This is Chakshita, and I'm performing my Assignment 1

## Data Science Languages
- Python
- R
- Julia
- SQL

## Data Science Libraries
- NumPy
- Pandas
- Scikit-learn
- TensorFlow
- PyTorch

## Data Science Tools

| Category          | Tools                       |
|-------------------|-----------------------------|
| Data Manipulation | Pandas, NumPy                |
| Machine Learning   | Scikit-learn, TensorFlow    |
| Deep Learning      | PyTorch                     |
| Database           | SQL                         |

## Example for Arithmetic Expression is given below:
In the following I will perform some basic arithmetic expressions.

In [4]:
a = 2
b = 3
multiply = a * b
add = a + b

multiply, add

(6, 5)

In [5]:
min = 120
hours = min / 60

hours

2.0

## Objectives learned
1. Explore data science languages and libraries.
2. Understand the basics of arithmetic expressions.
3. Perform simple calculations like multiply and add, etc.

## Author
Chakshita